{% extends'base.html.twig' %}

{% block title %}ToDoList{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="d-inline me-3">{{ title }}</h1>
        <div class="row mt-5">
            <div class="col-12 col-md-8 ps-5">
                <h2 class="mb-4">Tasks to do: </h2>
                {% for task in tasks %}
                <li>
                    {{ task.taskString }} -
                    {% if task.taskBool  %}
                        {{ 'TRUE' }}
                    {% else %}
                        {{ 'FALSE' }}
                    {% endif %}
                    <form action="{{ path('app_list_deletetask', {'id': task.id}) }}">
                        <input type="submit" value="Delete">
                    </form>
                </li>
                {% endfor %}
                <br>
                <form action="{{ path('app_list_newtask') }}" method="POST">
                    <input type="text" class="form-control form-control-sm" name="newTask" placeholder="Your New Task">
                    <button type="submit" class="btn btn-success" id="add_task_button"><i class="fas fa-plus"></i> Add task</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-8 ps-5">
                <h2 class="mb-4">Tasks done: </h2>
                {% for taskDone in tasksDone %}
                    <li>
                        {{ taskDone.singleTask }} - {{ taskDone.done|upper }}
                        <button type="button" class="btn-outline-danger" id="delete_task_button"><i class="fas fa-minus"></i></button>
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}